
.main-div{
   
}
.f-left{
    float: left;
}
.f-center{
    float: center;
}
.f-right{
    float:right;
}

.clear-class{

    content: "";
    clear: both;
    display: block;
}
.fix-width{

    max-width: 1400px;
    margin: auto;

}
img{
    max-width: 100%;
}

/* main css header section  */

.header-section{
  background-color: #f8f7f8;
width: 100%;
height: 80px;
position: fixed;
top: 0;
left: 0;
width: 100%;

z-index: 99;


}
.logo-section{
width: 25%;
padding-top: 10px;


}

.logo-section a,img{
    width: 130px;
    padding-left: 24px;

}

.menu-section{
width: 40%;
}
.menu-section ul{
padding-top: 24px;
list-style: none;

}
.menu-section ul li{ 
    display: inline-block;
    padding-left: 26px;
    box-sizing: border-box;
}
.menu-section ul li a{
color: black;

text-decoration: none;
font-weight: 500;
font-size: 20px;

}

/* banner-section  */

.main-banner{
background-image: url(./kobu-agency-IWLR561-Yb-MY-unsplash.jpg);
background-size: cover;
padding: 180px;

background-position:  center;
position: relative;
z-index: 1;
margin-top: 80px;
}
.main-banner::after{
   content: "";
    background: rgba(0, 0, 0, 0.405);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner-contain{
color: aliceblue;
}
.banner-contain h3{
margin-bottom: 30px;
}
.banner-contain h1{
font-size: 57px;
font-weight: 900;
}
.banner-btn{
    margin-top: 45px;
}
.btn{
    padding: 15px 45px;
    color: #7d7c7e;
    font-size: 20px;
}
.btn1{
    padding:15px 50px ;
  margin-left: 10px;
  font-size: 20px;
}
.btn span{
   font-size: 25px;
    margin-right: 4px;
}
.btn:hover{
    background-color:#f0952c;
    color: rgba(240, 248, 255, 0.855);
}
/* buy-section */

.buy-section{
background-color: #f8f7f8;
width: 100%;
height: 1250px;
}

.buy-contain{
    padding-top: 50px;
}
.buy-contain h1{
margin-bottom: 40px;
font-size: 60px;
font-weight: 700;
color: rgba(0, 0, 0, 0.818);
}
.buy-contain p{
color:rgba(0, 0, 0, 0.507);
padding-bottom: 80px;}


.box{


}
.box-contain{
width: 30.3%;
background-color: #fff;
margin-left: 3%;
border-bottom: 1px solid rgba(0, 0, 0, 0.586);
transition: .5s;

}

.box-contain h2{
font-weight: 400;
padding: 28px 0px 20px 40px;
}
.box-contain h1{
    padding: 15px 0px 15px 5px;
    font-size: 45px;
    font-weight: 900;
    background-color: rgba(13, 12, 12, 0.042);
    width: 85%;
    margin-left: 30px;
}
.box-contain h1:hover{
    background-color: #fff;
    color: black;
}
.box-contain span{
    font-size: 20px;
}
.box-contain p{ 
    padding: 15px 0px 40px 40px;
    font-size: 20px;
    font-weight: 500;
}
.box-contain h3{ 
    padding: 25px 0px 10px 40px;
}
.box-contain:hover{
    background-color: #f0952c;
    color: rgba(255, 255, 255, 0.755);
}
/* ul  */

.box-item{
    width: 30.3%;
    padding: 20px 0px 30px 15px;
    background-color: #fff;
    margin-left: 3%;
    font-size: 20px;
    line-height: 60px;
}
.box-item ul{
    list-style: none;
}
.box-item span{
color: #f0952c;
padding-right: 20px;
font-size: 35px;
font-weight: 700;
}
.btn2{
   margin-left: 65px;
   margin-top: 5px;
   background-color: #fff;
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.078);
   border: 10px solid rgba(7, 36, 151, 0.016);
   font-weight: 700;
}
.btn2:hover{
    border: 10px solid rgba(7, 36, 151, 0.016);
}

/* .teem-section  */


.teem-section{
width: 100%;
height: 800px;
background-color: #ffffff;
}
.teem-member{
width: 22%;
margin-left: 3%;
border:5px double #f0952c;
}

.teem-container h1{
    padding: 90px 0px;
    font-weight: 500;
}
.picture{
   
}
.teem-member img{
    width: 600px;
    
    max-width: 100%;
}
.teem-member h2{
   
    padding: 30px 25px 10px 25px;
    font-weight:600;

}
.teem-member p{  padding: 0px 25px 20px;
font-size: 25px;
font-weight:300;}

/* <!-- e-mail section  --> */



.email-section{
    width: 100%;
    height: 500px;
    background-color: #f5f4f6;
    padding-top: 30px;
}
.email-section h1{
font-size: 45px;
font-weight: 600;
padding-top: 35px;
padding-bottom: 35px;
letter-spacing: 3px;
}
.email-section p{
font-size: 18px;
font-weight: 400;
}

.form{

   
}
.form input{
    padding: 20px 400px 20px 10px;
    border-radius: 10px;
    border: 3px solid #b6cd3b;

}
.btn3{
    color: #fffbe6;
    background-color: #ad982f;
    margin-top: 19px;
    padding: 20px 100px;
    font-size: 25px;
}
.btn3:hover{
    background-color: #faf1e6;
    color: #cba36d;
    border: 2px solid #cba36d;
}

/* choose section  */

.choose-section{
    background-color: #ffffff;
    width: 100%;
    height: 735px;
}
.choose-us h1{
    font-size: 50px;
    padding-top: 15px;
    font-weight: 600;
}
.choose-contain{
    
}
.choose-img{
width: 40%;
}
.choose-li{
width: 60%;
}

.choose-img img{
    width: 100%;
    margin-top: 25px;
}
.choose-li ol{
    margin-top: 50px;
    font-size: 20px;
    margin-left: 5px;
    color: #7d7c7e;
    font-weight: 900;
}
.choose-li p{
    font-size: 18px;
    color: black;
    padding-top: 35px;
    font-weight: 300;
}




/* <!-- user section  --> */

.user-section{
width: 100%;
background-color: #f4f4f4;
height: 1000px;
}


.h111{
    padding-top: 50px;

}

.h111 h1{
    padding-top: 50px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 90px;

}
.all-contain{
   
}
.div-box{
    width: 30%;
    margin-left: 3%;
    font-size: 25px;
    border-top: 2px solid rgba(0, 0, 0, 0.174);
    border-left: 2px solid rgba(0, 0, 0, 0.277);
    border-right: 2px solid rgba(0, 0, 0, 0.216);
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.div-box::before {
    content: "\f10d";
    font: var(--fa-font-solid);
    position: absolute;
    opacity: .20;
    font-size: 90px;
    top: 15px;
    left: 35px;
}
.div-box p{

color: #7d7c7efd;
padding: 60px 20px 40px 40px;
font-size: 23px;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #fff;
	position: absolute;
	top: 290px;
	left: 220px;
}
.triangle-down1 {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #fff;
	position: absolute;
	top: 290px;
	left:49%;
    
}
.triangle-down2{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #fff;
	position: absolute;
	top: 290px;
	left: 82.5%;
}
.tir{
    position: relative;
}



.users{
    background-color: #eff2f1;
}
.users-c{
   
    background-color: #eff2f1;
  

}
.users-img{
    width: 30%;
    margin-left: 3%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.174);
  border-left: 2px solid rgba(0, 0, 0, 0.277);
  border-right: 2px solid rgba(0, 0, 0, 0.216);
  padding-top: 70px;
  margin-bottom: 30px;

}
.users-img img{
border: 10px solid #b29d32;

padding-left: 0px;
display: inline-block;

}
.users-img h1{

    font-size: 25px;
    font-weight: 600;
}
.users-img p{}
.user-con{
    margin-right: 10px;
    width: 50%;
    margin-left: -100px;
    margin-bottom: 100px;
    margin-top: 25px;
}




/* .footer-section  */

.footer-section{
    background-color: #ffffff;
    width: 100%;
    height: 950px;
}
.footer-contain{
    padding: 50px 0px;
}
.footer-contain h2{
    padding: 20px 0px;
    font-weight: 600;
}
.footer-contain p{
    color: #7d7c7e;
    font-size: 20px;}


.label1 input{
padding: 20px 775px 20px 10px;
border: 3px solid #b6cd3b;
border-radius: 10px;
}
.label2 input{
padding: 20px 310px 20px 10px;
display: inline-block;
border: 3px solid #b6cd3b;
border-radius: 10px;
}
.label3 input{
padding: 20px 240px 20px 10px;
display: inline-block;
margin-left: 6px;
margin-top: 30px;
border: 3px solid #b6cd3b;
border-radius: 10px;
}
.label1 textarea{
    padding: 15px 0 0px 10px;
    margin-top: 30px;
    border: 3px solid #b6cd3b;
    border-radius: 10px;
    }
.form-div input:hover{
    border: 2px solid rgba(0, 0, 255, 0.774);
}
    
.form-div textarea:hover{
    border: 2px solid rgba(0, 0, 255, 0.774);
}
    

.btnnn{
    background-color: #aa972c;
    color: #eff2f1bf;
    padding: 19px 90px;
    margin-top: 30px;
}
.btnnn:hover{
    background-color: #eff2f1bf;
    color: #aa972c ;
}
.copyright{
    margin-top: 70px;
}